<div class="blog-post">
  <div class="top">
    <img src="/sites/default/files/challenge/image/2020-10/400x400.png" width="400" height="400" alt="Left Column Image" typeof="foaf:Image">
  </div>
  <div class="bottom">
    <h4>Blog:</h4>
    <div>Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Etiam et erat ac magna. </div>
  </div>
</div>
