<div class="who-can-apply">
  <div class="text-wrapper">
    <h3>Who can apply?</h4>
    <p>
      Cancer Grand Challenges
      is looking for the best ideas
      and the sharpest minds to
      transform cancer research.
    </p>
    <p>We welcome applications from:</p>
    <ul>
      <li>Global teams</li>
      <li>All disciplines</li>
      <li>Academic institutions and
        their commercial partners</li>
    </ul>
    <p>
      Our current funded teams span
      9 countries and a wide range of
      disciplines including analytical
      chemistry, cell biology and
      virtual reality.
    </p>
  </div>

  <div class="apply-button">
    <a href="/researchers">Apply now</a>
  </div>
</div>
