<div class="subscribe-block content-black">
  <div class="container">
    <div class="titles">
      <h2 class="title">Knowledge is power</h2>
      <p>Join our mailing list and stay up to date with progress</p>
    </div>
    <div class="form-wrapper">
      <div class="row justify-content-center">
        <div class="form-input">
          <input type="email" id="edit-email-address" name="email_address" value="" size="60" maxlength="254" placeholder="Your email" class="form-email">
        </div>
        <div class="form-button">
          <input class="button form-submit" type="submit" id="edit-actions-submit" name="op" value="Subscribe">
        </div>
      </div>
    </div>
  </div>
</div>
