.team-member-quote {
    .quote-sign svg {
        max-width: 40px;
        margin-top: -50px;
        margin-bottom: 10px;
        clear:both;
    }
    blockquote{
        font-size: 1.25rem;
        line-height:1.65rem;
        font-weight:700!important;
    }
}