<div class="content-black researchers">
      <div class="container">
        <div class="row row-flex-right">
            <div class="researchers-counter-wrapper">
              <div class="researchers-counter">
                <div class="counter">182</div>
                <div class="counter-days">days</div>
                <div class="counter-text">Challenges open<br>until 14/04/20</div>
                <a href="/">Apply now</a>
              </div>
            </div>
        </div>
      </div>
</div>
