<section class="boldly-forward">
  <div class="gradient-border-block researchers-container">
      <div class="container researchers-container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="clearfix text-formatted field field--name-field-gradient-block-text field--type-text-long field--label-hidden field__item">
              <h2>Boldly forward</h2>
              <p>Through a series of £20 ($25) million challenges, we’re giving<br/>
                you the freedom to think big, innovate at pace and carry out<br/>
                cutting- edge research at the edge of impossible.</p>
              <p>£20M. 5 years. The toughest challenges in cancer research<br/>
                Will you rise to the challenge?</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
