<section class="challenges-text-video">
    <div class="container">
      <div class="video-left">
        <div class="heading-container">
          <h2 class="gradient-heading">Insight from<br>
            existing teams</h2>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/d0tU18Ybcvk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
</section>
