<div class="content-black researchers">
      <div class="container">
        <div class="row row-flex-left">
            <div class="researchers-tabs-wrapper">
              <div class>
                <input class="button form-submit" type="submit" id="edit-actions-submit" name="op" value="Apply">
              </div>
              <div class="researchers-tab">
                <h3>Apply for funding</h3>
                <div>£20 ($25) million awards challenging
                  the world’s brightest scientists to come
                  together and take on cancer’s most
                  compex challenges.</div>
              </div>
            </div>
        </div>
      </div>
</div>
