<section class="grand-challenges">
  <div class="container">
    <div class="row justify-content-center">
    <h2>
      Our 9 challenges<br>
      focus on the following areas:
    </h2>
    </div>
  </div>

    <div class="container">
      <div class="gradient-background-block">
          <p>Cachexia and performance status</p>
          <p>Dormancy</p>
          <p>E-cigarettes</p>
          <p>Extrachromosomal DNA</p>
          <p>Inflammation</p>
          <p>Macromolecules</p>
          <p>Normal Phenotypes</p>
          <p>Senescence</p>
          <p>Solid tumours in children</p>
      </div>
    </div>

  <div class="container challenges-bottom">
    <p>Choose your challenge and start building your team. <br/>
    Each has the potential to transform cancer research. </p>
    <p>Find full details on each challenge <a href="/challenges">here</a>.</p>
  </div>
</section>
