<section class="challenges-text-video">
    <div class="container">
      <div class="video-right">
        <h2>4 teams will receive £20m.<br>
          This is what it takes to succeed</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/d0tU18Ybcvk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
</section>
