@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt Pro';
    src: url('../fonts/FaktPro-Bold.woff2') format('woff2'),
        url('../fonts/FaktPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Gradual';
    src: url('../fonts/BwGradual-Regular.woff2') format('woff2'),
        url('../fonts/BwGradual-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Gradual';
    src: url('../fonts/BwGradual-Bold.woff2') format('woff2'),
        url('../fonts/BwGradual-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Gradual';
    src: url('../fonts/BwGradual-Medium.woff2') format('woff2'),
        url('../fonts/BwGradual-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}