.paragraph--type--citation {
  padding: 40px 25px 25px;

  .quote-text {
    font-size: 1.578rem;
    line-height: 2rem;
    padding-top: 1rem;
  }

  .quote-author {
    font-size: 1.05rem;
    font-weight: 400;
  }
}
