.page-view-sitemap {

  #header nav.navbar{
    background: #000 !important;
  }

  #page-wrapper {
    overflow: hidden;
  }
}

.content > .views-element-container > .view-sitemap {
  margin-top: 150px;
  padding: 0 15px;
}
