.path-frontpage {
    .node__content.clearfix {
        margin-top: 0;
    }

    main#content {padding: 0px;}

    .paragraph {
        margin-bottom:0;
    }

    .team-title {
        max-width: 1140px;
        margin: 50px auto;
    }

    .section-title {
        display: block;
        margin: 5rem auto !important;
        padding:0px 15px;
        @include media-breakpoint-down(sm) {
          margin: 2.5rem auto !important;
        }

        p:last-child {
          margin-bottom: 0;
        }

    }

    .badge-link {
      width:150px;
      text-align:center;

        a {
          border-radius:50%;
          background:#ffffff;
          display:flex;
          align-items:center;
          justify-content:center;
          color:#000000;
          font-size:1.14rem;
          line-height:1.34rem;
          font-weight:500;
          padding: 0 20px;
          height:150px;
        }


    }

    .team-link a {
        font-size: 1rem;
        text-decoration: underline;
        color: #000;
        padding: 15px 0;
        display: block;
    }

  .team-link {
    margin-top: 0;
  }
}
