.page-node-11 {
    .bottom-quote {
        .field--type-text-long {
          max-width: 850px;
          a {
            color:black;
            text-decoration:underline;
          }
        }

    }

}
