.clearfix.text-formatted.field.field--name-field-introduction-paragraph.field--type-text-long.field--label-hidden.field__item.quickedit-field {
    text-align: center;
        margin: 20px;
}

.clearfix.text-formatted.field.field--name-field-introduction.field--type-text.field--label-hidden.field__item.quickedit-field {
    text-align: center;
    font-weight: bold;
    margin: 30px;
}
